<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<label class="control-label required" for="name"> Imię: </label>
<input type="text" name="" id="name" formControlName="name">
<div *ngFor="let validation of account_validation_messages.name">
  <div class="error-message"
    *ngIf="userForm.get('name').hasError(validation.type) && (userForm.get('name').dirty || userForm.get('name').touched)">
    {{validation.message}}</div>
</div> <br />

<label for="surname"> Nazwisko: </label>
<input type="text" name="" id="surname" formControlName="surname">
<div *ngFor="let validation of account_validation_messages.surname">
  <div class="error-message"
    *ngIf="userForm.get('surname').hasError(validation.type) && (userForm.get('surname').dirty || userForm.get('surname').touched)">
    {{validation.message}}</div>
</div> <br />

<label for="email"> E-mail: </label>
<input type="text" name="" id="email" formControlName="email">
<div *ngFor="let validation of account_validation_messages.email">
  <div class="error-message"
    *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
    {{validation.message}}</div>
</div> <br />

<label for="phone"> Telefon: </label>
<input type="text" name="" id="phone" formControlName="phone">
<div *ngFor="let validation of account_validation_messages.phone">
  <div class="error-message"
    *ngIf="userForm.get('phone').hasError(validation.type) && (userForm.get('phone').dirty || userForm.get('phone').touched)">
    {{validation.message}}</div>
</div> <br />

<label for="password"> Hasło: </label>
<input type="password" id="password" formControlName="password">
<div *ngFor="let validation of account_validation_messages.password">
  <div class="error-message"
    *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
    {{validation.message}}</div>
</div> <br />

<label for="confirmPassword"> Potwierdź hasło: </label>
<input type="password" name="" id="confirmPassword" formControlName="confirmPassword"> <br />
<label for="confirmPassword">
  <div *ngFor="let validation of account_validation_messages.confirmPassword">
    <div class="error-message"
      *ngIf="userForm.get('confirmPassword').hasError(validation.type) && (userForm.get('confirmPassword').dirty || userForm.get('confirmPassword').touched)">
      {{validation.message}}</div>
  </div> <br />
  <div *ngIf="userForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
    <div class="error-message"> Podane hasła muszą być takie same </div>
  </div>
</label> <br />

<label for="pet"> Zwierzę: </label> <br>
<label><input type="radio" name="pet" value="kot" formControlName="pet"> Kot </label> <br>
<label><input type="radio" name="pet" value="pies" formControlName="pet"> Pies </label> <br>
<label><input type="radio" name="pet" value="inne" formControlName="pet"> Inne </label> <br>
<br>
<h3>Adres</h3>
<div formGroupName="address">
  <div>
  <label for="city"> Miasto: </label>
  <input type="text" name="" id="city" formControlName="city">
  </div>
  <div>
  <label for="street"> Ulica: </label>
  <input type="text" name="" id="street" formControlName="street">
  </div>
  <div>
  <label for="building"> Nr domu: </label>
  <input type="text" name="" id="building" formControlName="building">
  </div>
  <div>
  <label for="flatNo"> Nr mieszkania: </label>
  <input type="text" name="" id="flatNo" formControlName="flatNo">
  </div>
</div>
 


<br>
<h5>Zgody</h5>
<div formGroupName="consents">
  <label for="newsletter" class="control-label required"> Zgoda na otrzymywanie wiadomości e-mail </label>
  <input type="checkbox" name="" id="newsletter" formControlName="newsletter"> <br>
  <div *ngIf="userForm.get('phone').valid && (userForm.get('phone').dirty)">
    <label for="sms"> Zgoda na otrzymywanie wiadomości SMS </label>
    <input type="checkbox" name="" id="sms" formControlName="sms">
  </div>
</div>

<button type="submit" (click)="onSubmit()">Submit</button>

</form>